@using Microsoft.Extensions.Options
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Play C# golf with your friends.">
    <meta name="keywords" content="C#,dotnetcore,programming,challenge,codegolf">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeGolf.Web</title>

    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="lib/codemirror/codemirror.min.css">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @inject IOptions<WebSiteSettings> WebSiteSettings
    <script async src="https://www.googletagmanager.com/gtag/js?id=@WebSiteSettings.Value.GoogleAnalyticsKey"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@WebSiteSettings.Value.GoogleAnalyticsKey');
    </script>

</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" asp-page="/Index">Home</a>
                <a class="navbar-item" asp-page="/Demo">Demo</a>
                <a class="navbar-item" asp-page="/Dashboard">Dashboard</a>
                <a class="navbar-item" asp-page="/Admin">Admin</a>
                <a class="navbar-item" asp-page="/Game">Game</a>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a class="navbar-item" asp-page="/SignOut">Sign Out</a>
                }
            </div>
        </div>
    </nav>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &copy; 2019 - CodeGolf - <a asp-area="" asp-page="/Privacy">Privacy</a> - <a href="https://github.com/luhis/codegolf">Fork Me</a>
        </p>
    </div>
</footer>

    <script src="~/js/site.es5.min.js" asp-append-version="true"></script>
    <script src="~/js/cookies.es5.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
