@using CodeGolf.Web.Tooling
@using Microsoft.Extensions.Options
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Play C# golf with your friends.">
    <meta name="keywords" content="C#,dotnetcore,programming,challenge,codegolf">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeGolf.Web</title>

    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/dist/siteCss.css" asp-append-version="true" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @inject IOptions<WebSiteSettings> WebSiteSettings
    @inject IGameAdminChecker AdminChecker
    <script async src="https://www.googletagmanager.com/gtag/js?id=@WebSiteSettings.Value.GoogleAnalyticsKey"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@WebSiteSettings.Value.GoogleAnalyticsKey');
    </script>

</head>
<body class="Site">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" asp-page="/Index">Home</a>
                <a class="navbar-item" href="/demo">Demo</a>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a class="navbar-item" href="/game">Game</a>
                    if (AdminChecker.IsAdmin(this.Context))
                    {
                        <a class="navbar-item" href="/dashboard">Dashboard</a>
                        <a class="navbar-item" asp-page="/Admin">Admin</a>
                    }
                    <a class="navbar-item" asp-page="/SignOut">Sign Out</a>
                }
                else
                {
                    <a asp-action="SignIn" asp-controller="Account" class="navbar-item">Sign In with GitHub</a>
                }
                <a class="navbar-item" target="_blank" href="https://codegolf.stackexchange.com/questions/173/tips-for-code-golfing-in-c">Tips</a>
            </div>
        </div>
    </nav>
    <div class="container Site-content">
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @RenderBody()
        </main>
    </div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &copy; 2019 - CodeGolf - <a asp-area="" asp-page="/Privacy">Privacy</a> - <a href="https://github.com/luhis/codegolf">Fork Me</a>
        </p>
    </div>
</footer>

    <script src="dist/site.js" asp-append-version="true"></script>
    <script src="dist/cookies.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
