div.CodeMirror {
    border: 1px solid #dbdbdb;
}
.is-clickable {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
}
