div.CodeMirror {
    border: 1px solid #dbdbdb;
}
.is-clickable {
    cursor: pointer;
}
.line-error {
    background: #FBC2C4 !important;
    color: #8a1f11 !important;
}
.underline {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}
