[Unit]
Description=Code Golf website

[Service]
WorkingDirectory=/var/www/CodeGolf/publish/
ExecStart=/usr/bin/dotnet /var/www/CodeGolf/publish/CodeGolf.Web.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-codegolf
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target