div.CodeMirror {
    border: 1px solid #dbdbdb;
}
.is-clickable {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
}

.is-thin {
    padding-top: 5px;
    padding-bottom: 5px;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}