@using Optional.Unsafe
@model IReadOnlyList<Domain.ChallengeResult>;

<article class="message is-danger">
    <div class="message-header">
        <p>Error</p>
    </div>
    <div class="message-body">
        @string.Join(", ", Model.Where(a => a.Error.HasValue).Select(a => a.Error.ValueOrFailure()))
    </div>
</article>