@model CodeGolf.Domain.ErrorSet;

<article class="message is-danger">
    <div class="message-header">
        <p>Error</p>
    </div>
    <div class="message-body">
        @foreach (var c in Model.Errors)
        {
            <p>
                <i class="fas fa-exclamation-triangle"></i>
                @c
            </p>
        }
    </div>
</article>