version: 2
jobs:
  dotnettest:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.0.101-alpine
    working_directory: /build/
    steps:
      - checkout
      - run:
          name: Run result
          command: |
            apk --no-cache add ca-certificates wget
            wget -q -O /etc/apk/keys/sgerrand.rsa.pub https://alpine-pkgs.sgerrand.com/sgerrand.rsa.pub
            wget https://github.com/sgerrand/alpine-pkg-glibc/releases/download/2.30-r0/glibc-2.30-r0.apk
            apk add glibc-2.30-r0.apk
            cd ./Tests/CodeGolf.Unit.Test/
            dotnet clean
            dotnet build
            dotnet test

  jstest:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - restore_cache:
          key: yarn-packages-{{ checksum "./CodeGolf.Web/ClientApp/yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn --cwd ./CodeGolf.Web/ClientApp/ install --frozen-lockfile
      - save_cache:
          key: yarn-packages-{{ checksum "./CodeGolf.Web/ClientApp/yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Run Tests
          command: |
            yarn --cwd ./CodeGolf.Web/ClientApp/ test
            yarn --cwd ./CodeGolf.Web/ClientApp/ build
workflows:
  version: 2
  build_and_test:
    jobs:
      - dotnettest
      - jstest
