version: 2
jobs:
  dotnettest:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.0.1
    working_directory: /build/
    steps:
      - checkout
      - run:
          name: Run result
          command: |
            pushd ./Tests/CodeGolf.Unit.Test/
            dotnet clean
            dotnet test
            popd

  jstest:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - restore_cache:
          key: yarn-packages-{{ checksum "./CodeGolf.Web/ClientApp/yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn --cwd ./CodeGolf.Web/ClientApp/ install --frozen-lockfile
      - save_cache:
          key: yarn-packages-{{ checksum "./CodeGolf.Web/ClientApp/yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Run Tests
          command: |
            yarn --cwd ./CodeGolf.Web/ClientApp/ test
            yarn --cwd ./CodeGolf.Web/ClientApp/ build
workflows:
  version: 2
  build_and_test:
    jobs:
      - dotnettest
      - jstest
