@model IReadOnlyList<CodeGolf.Domain.Attempt>;

<span class="title">Attempts</span>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attempt in Model)
        {
            <tr>
                <td>@attempt.UserId</td>
                <td>@attempt.Score</td>
            </tr>
        }
    </tbody>
</table>