@model CodeGolf.Domain.ChallengeSet<string>;


<article class="message">
    <div class="message-header">
        <p>@Model.Title</p>
    </div>
    <div class="message-body">
        <p>@Model.Description</p>

        @foreach (var a in Model.Challenges)
        {
            <div>@(GenericPresentationHelpers.DisplayFunction(a, Model.Params))</div>
        }
    </div>
</article>