@model CodeGolf.Domain.ChallengeSet<string>;

<h4 class="title">@Model.Title</h4>

<p>@Model.Description</p>

@foreach (var a in Model.Challenges)
{
    <div>@(GenericPresentationHelpers.DisplayFunction(a, Model.Params))</div>
}