@model CodeGolf.Service.Dtos.HoleDto

<div class="field is-grouped is-grouped-multiline">
    <div class="control">
        <div class="tags has-addons">
            <span class="tag is-dark">start</span>
            <span class="tag is-success">@Model.Start</span>
        </div>
    </div>

    <div class="control">
        <div class="tags has-addons">
            <span class="tag is-dark">end</span>
            <span class="tag is-info">@Model.End</span>
        </div>
    </div>
</div>
