@model CodeGolf.Domain.ChallengeSet<string>

@{
    var toolTip = $"Create a function like 'public string Main() {{ ... }}'";
    <span class="tag is-info tooltip" data-tooltip="@toolTip"><i class="fas fa-question-circle"></i>Help</span>
}