@model CodeGolf.Domain.IChallengeSet

@{
    var toolTip = $"Create a function like '{Model.ReturnType} Main() {{ ... }}'";
    <span class="tag is-info tooltip" data-tooltip="@toolTip"><i class="fas fa-question-circle"></i>&nbsp;Help</span>
}