@page
@model CodeGolf.Web.Pages.DashboardModel
@using Optional.Unsafe
@{
    ViewData["Title"] = "Dashboard";
}

    <div>
        @if (!Model.Game.HasValue)
        {
            <form asp-page-handler="StartGame" method="post">
                <button class="button">Start Game</button>
            </form>
        }
        else
        {        
            <form asp-page-handler="NextRound" method="post">
                <button class="button">Next Round</button>
            </form>
        }
    </div>

@if (Model.CurrentChallenge.HasValue)
{
    var challenge = Model.CurrentChallenge.ValueOrFailure();
    <vc:challenge-view p="@challenge.ChallengeSet" />

    <span class="title">Attempts</span>

    @foreach (var attempt in challenge.Attempts)
    {
        <div>@attempt.UserId - @attempt.Score</div>
    }
}