@page
@model CodeGolf.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
<section class="section">
    <div>
        <form asp-page-handler="NextHole" method="post">
            <div class="field">
                <div class="control">
                    <button class="button">Next Hole</button>
                </div>
            </div>
        </form>
    </div>
    <vc:times-view hole="@Model.CurrentChallenge" />

    <vc:challenge-view cs="@Model.CurrentChallenge.Map(a => a.Hole.ChallengeSet)" />
    <vc:attempts-view />
</section>

@section Scripts {
    <script src="lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/dist/dashboard.js"></script>
}