@page
@model CodeGolf.Web.Pages.DashboardModel
@using Optional.Unsafe
@{
    ViewData["Title"] = "Dashboard";
}

<p>
    @if (!Model.Game.HasValue)
    {
        <input type="button" class="button" value="Start Game" />
    }
    else
    {
        <input type="button" class="button" value="Next Challenge" />
    }
</p>

@if (Model.CurrentChallenge.HasValue)
{
    var challenge = Model.CurrentChallenge.ValueOrFailure();
    <vc:challenge-view p="@challenge.ChallengeSet" />

    <span class="title">Attempts</span>

    @foreach (var attempt in challenge.Attempts)
    {
        <div>@attempt.UserId - @attempt.Score</div>
    }
}