@page
@model CodeGolf.Web.Pages.DashboardModel

<p>
    @if (!Model.Game.HasValue)
    {
        <input type="button" class="button" value="Start Game"/>
    }
    else
    {
        <input type="button" class="button" value="Next Challenge" />
    }
</p>

<vc:challenge-view p="@Model.CurrentChallenge" />

<span class="title">Attempts</span>

@foreach (var attempt in Model.Attempts)
{
    <div>@attempt.Name - @attempt.Score</div>
}