@page
@using Optional.Unsafe
@model CodeGolf.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<section class="section">
    <div>
        <form asp-page-handler="NextHole" method="post">
            <div class="field">
                <div class="control">
                    <button class="button">Next Hole</button>
                </div>
            </div>
        </form>
    </div>

    @if (Model.CurrentChallenge.HasValue)
    {
        var extracted = Model.CurrentChallenge.ValueOrFailure();

        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">start</span>
                    <span class="tag is-success">@extracted.Start</span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">end</span>
                    <span class="tag is-info">@extracted.End</span>
                </div>
            </div>
        </div>
    }
    <vc:challenge-view cs="@Model.CurrentChallenge.Map(a => a.Hole.ChallengeSet)" />
    <vc:attempts-view cs="@Model.CurrentChallenge.Map(a => a.Attempts)" />
</section>