@page
@model CodeGolf.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <form asp-page-handler="NextHole" method="post">
        <button class="button">Next Hole</button>
    </form>
</div>

<div>Start: TODO, End: TODO</div>
<vc:challenge-view cs="@Model.CurrentChallenge.Map(a => a.ChallengeSet)" />
<vc:attempts-view cs="@Model.CurrentChallenge.Map(a => a.Attempts)" />
