@page
@using Optional
@model CodeGolf.Web.Pages.DemoModel
@{
    ViewData["Title"] = "Demo";
}

<h1 class="title">Demo</h1>

<vc:challenge-view cs="@Option.Some(Model.ChallengeSet)"/>

<form method="post">
    <div class="field">
        <label class="label">Code</label>
        <div class="control">
            <textarea class="textarea" asp-for="Code" rows="10" cols="50"></textarea>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button" type="submit">Submit</button>
        </div>
    </div>
</form>

<div>
    Score: @Model.Score
</div>
<vc:errors-view p="@Model.Errors"/>