@page
@using Optional
@model CodeGolf.Web.Pages.DemoModel
@{
    ViewData["Title"] = "Demo";
}

<section class="section">
    <h1 class="title">Demo</h1>

    <vc:challenge-view cs="@Option.Some(Model.ChallengeSet)" />

    <form method="post">
        <vc:help-tool-tip-view cs="@Option.Some(Model.ChallengeSet)" />
        <div class="field">
            <label class="label">Code</label>
            <div class="control">
                <textarea class="textarea" asp-for="Code" rows="10" cols="50"></textarea>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Submit</button>
            </div>

            <div class="control">
                <button class="button" type="submit" asp-page-handler="ViewSource">View .CS file</button>
            </div>
        </div>
    </form>

    <vc:score-view p="@Model.Result" />
</section>

@section Scripts {
    <script src="lib/codemirror/codemirror.min.js"></script>
    <script src="lib/codemirror/mode/clike/clike.min.js"></script>
    <script src="js/editor.js"></script>
}
