@page
@model CodeGolf.Web.Pages.Demo2Model
@{
    ViewData["Title"] = "Demo2";
    Layout = "Shared/_LayoutFluid";
}

<h1 class="title">Demo2</h1>

<div id="demo"></div>

@section Scripts {
    <script src="~/dist/demo.js"></script>
}