@page
@model CodeGolf.Web.Pages.DemoModel
@{
    ViewData["Title"] = "Demo";
}

<h1>Demo</h1>

<vc:challenge-view p="@Model.ChallengeSet"/>

<form method="post">
    <div class="field">
        <label class="label">Code</label>
        <div class="control">
            <textarea asp-for="Code" rows="10" cols="50"></textarea>
        </div>
    </div>
    <button class="button" type="submit">Submit</button>
</form>

<div>
    Score: @Model.Score
</div>
<div>
    Errors: @string.Join(", ", Model.Errors)
</div>