@page
@using Optional
@model CodeGolf.Web.Pages.DemoModel
@{
    ViewData["Title"] = "Demo";
}

<h1 class="title">Demo</h1>

<vc:challenge-view cs="@Option.Some(Model.ChallengeSet)"/>

<form method="post">
    <span class="tag is-info tooltip" data-tooltip="Create a function like 'public void Main() { ... }'"><i class="fas fa-question-circle"></i>Help</span>
    <div class="field">
        <label class="label">Code</label>
        <div class="control">
            <textarea class="textarea" asp-for="Code" rows="10" cols="50"></textarea>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" type="submit">Submit</button>
        </div>

        <div class="control">
            <button class="button" type="submit" asp-page-handler="ViewSource">View .CS file</button>
        </div>
    </div>
</form>

<vc:score-view p="@Model.Result"/>