@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="section">
    <div class="container">
        <h1 class="title">What is code golf?</h1>
        <h2 class="subtitle">
            Code golf is a game where developers aim to complete a Kata using as few characters as possible.
        </h2>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">What does this website allow me to do?</h1>
        <h2 class="subtitle">
            This website aims to create a code golf framework to allow developers to meet at user groups and compete together.
        </h2>
    </div>
</section>
