@page
@model CodeGolf.Web.Pages.ResultsModel
@{
    ViewData["Title"] = "Final Results";
}

    <section class="section">
        <h1 class="title">Final Results</h1>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var res in Model.Results)
                {
                    <tr>
                        <td>@res.Rank</td>
                        <td>
                            <figure class="image is-48x48"><img src="@res.AvatarUri"/></figure>
                        </td>
                        <td>@res.LoginName</td>
                        <td>@res.Score</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>