@page
@model CodeGolf.Web.Pages.SignOutModel
@{
    ViewData["Title"] = "Sign Out";
}
<h1 class="title">Sign Out</h1>

<section class="section">
    <p>Are you sure you want to sign out?</p>
    <form method="post">
        <div class="field">
            <div class="control">
                <button class="button">Sign Out</button>
            </div>
        </div>
    </form>
</section>
